@charset "UTF-8";

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#flex {
    padding: 2% 5%;
}

.productContainer {
    display: flex;
}

.imgProduct {
    flex: 1;
}

.imgProduct img {
    width: 80%;
    height: auto;
    transition: all .3s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.imgProduct img:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 54px 55px, rgba(255, 255, 255, 0.08) 0px -12px 30px, rgba(255, 255, 255, 0.08) 0px 4px 6px, rgba(255, 255, 255, 0.12) 0px 12px 13px, rgba(255, 255, 255, 0.06) 0px -3px 5px;
    cursor: pointer;
}

.descriptionProduct {
    flex: 1;
    padding-left: 20px;
}

.descriptionProduct h1 {
    color: #fff;
    font-family: var(--montserrat);
    font-weight: 800;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.descriptionProduct p {
    color: #fff;
    font-family: var(--montserrat);
    letter-spacing: 2px;
    text-align: justify;
    max-width: 98%;
}

.value {
    position: relative;
}

.value p {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 4%;
    position: relative;
}

.zero {
    font-size: 0.8rem;
    position: absolute;
    top: 1.7rem;
}

.comma {
    color: var(--amarelo);
    font-size: 2rem;
}

.accordion{
    width: 80%;
    margin: 0 auto;
    font-family: var(--montserrat);
}

.accordion-button{
    background-color: var(--preto);
    color: #fff;
}

.accordion-flush>.accordion-item{
    border: 1px solid #fff !important;
}

.accordion-button:not(.collapsed){
    background-color: var(--preto);
    color: #fff;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.buy{
    width: 98%;
    max-width: 98%;
    padding: 1.5%;
    outline: 0px;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: var(--montserrat);
    font-weight: 700;
    background-color: var(--preto);
    color: #fff;
    transition: all .3s ease;
    border: 1px outset #fff;
}

.buy:hover:hover {
    box-shadow: rgba(40, 167, 69, 0.1) 0px 54px 55px, rgba(40, 167, 69, 0.08) 0px -12px 30px, rgba(40, 167, 69, 0.08) 0px 4px 6px, rgba(40, 167, 69, 0.12) 0px 12px 13px, rgba(40, 167, 69, 0.06) 0px -3px 5px;
    transform: scale(1.06);
}

.fa-cart-plus{
    margin-left: 2%;
}

.carousel{
    width: 41%;
}

.zoomable-img:hover {
    cursor: zoom-in; 
    transition: transform 0.5s ease;
}