@charset "UTF-8";

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dropdown-toggle::after{
    display: none;
}

/* General Style  */

:root {
    --preto: #141615;
    --amarelo: #F8A928;
    --amarelo-claro: #f1af45;
    --montserrat: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: var(--amarelo);
    transition: 0.3s;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--amarelo-claro);
}

::-webkit-scrollbar-thumb:focus {
    border-radius: 20px;
}

/* General Style End  */


/* Header Style */

.container_header {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 1% 5%;
}

header {
    width: 100%;
    height: 16vh;
    background-color: var(--preto);
}

.menu {
    position: absolute;
    top: 42px;
    left: 20px;
    z-index: 9999;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease-in-out;
    z-index: 9998;
    color: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px;
    position: relative;
    top: 120px;
    cursor: pointer;
    text-align: center;
    transition: .3s;
}

.sidebar ul li:hover {
    background-color: #555;
}

li {
    list-style: none;
}

ul li {
    font-family: "Montserrat", sans-serif;
}

.bi {
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    color: var(--amarelo);
}

.bi-headset,
.bi-heart-fill,
.bi-cart-fill {
    margin: 40px;
    font-size: 30px;
}


.bi-list {
    font-size: 45px;
    color: var(--amarelo);
}

.container {
    position: relative;
    display: inline-block;
}

.logo {
    width: 145px;
    margin-left: 3em;
    position: absolute;
    top: -16px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.09);
    cursor: pointer;
}

.input-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
    width: 450px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
    transition: .3s;
    margin-left: 4em;
    font-family: "Montserrat", sans-serif;
}

.input {
    margin-left: 36%;
}

.input-search:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: .3s;
}

.newlogo {
    position: absolute;
    top: 16px;
    right: -214px;
    margin: 5px;
    width: 45px;
    height: auto;
}

/* Header Style End */


.downHeader {
    background-color: var(--amarelo);
    width: 100%;
    height: 3.9vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0; 
}

.nav .ul li {
    padding: 6px 25px;
    position: relative;
    transition: .3s ease;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    max-height: 36px;
    height: 36px;
}

.nav .ul li:hover {
    background-color: #a36500;
    cursor: pointer;
}

.nav a {
    text-decoration: none;
    color: #141615;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    list-style: none;
    padding: 0;
    text-align: center;
    min-width: 150px;
    border-radius: 15px;
    width: 100%;
}

.dropdown li {
    text-align: left;
}

.dropdown li:hover {
    background-color: #a1a0a0 !important;
}

.dropdown-toggle {
    cursor: pointer;
}

.arrow {
    margin-left: 5px;
}

.open {
    display: block;
    z-index: 999999;
}


/* Estilo para submenu */
.submenu {
    display: none;
    position: absolute;
    top: 10px;
    left: 100%;
    margin-top: -10px;
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    list-style: none;
    padding: 0;
    text-align: center;
    min-width: 150px;
    border-radius: 15px;
    width: 100%;
}

.has-submenu:hover .submenu {
    display: block;
}

/* Estilo para seta do submenu */
.submenu-arrow {
    margin-left: 5px;
    font-size: 0.8em;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 100px;
    top: 15px;
}

.login i {
    font-size: 30px;
    margin: 10px;
}

.login a {
    text-decoration: none;
    color: #fff;
}

.login p {
    font-family: "Montserrat", sans-serif;
}

/* Main Style */

.backgroundMain {
    background-color: var(--preto);
    width: 85vw;
    height: 100vh;
    margin: 0 auto
}

@keyframes changeBackground {
    0% {
        background-color: #FFFFF0;
    }

    33.33% {
        background-color: #141615;
    }

    66.66% {
        background-color: #F8A928;
    }

    100% {
        background-color: #FFFFF0;
    }
}

main {
    height: 100vh !important;
    animation: changeBackground 30s infinite;
}


.containerCard {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    padding-top: 4%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6px -15px;
    padding: 5px;
}

.container-fluid {
    max-width: 1400px;

}

.col-md-4 {
    padding: 0 15px;
}

.card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem;
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}


.card h5 {
    overflow: hidden;
    height: 55px;
    font-weight: 300;
    font-size: 1rem;
}

.card h5 a {
    color: black;
    text-decoration: none;
}

.card-img-top {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    object-fit: contain;
    padding: 30px;
}

.card h2 {
    font-size: 1rem;
}


.card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

/* Centered text */
.label-top {
    position: absolute;
    background-color: var(--label-index);
    color: #fff;
    top: 8px;
    right: 8px;
    padding: 5px 10px 5px 10px;
    font-size: .7rem;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
}

.top-right {
    position: absolute;
    top: 24px;
    left: 24px;

    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    background: #8bc34a;
    line-height: 90px;
    text-align: center;
    color: white;
}

.top-right span {
    display: inline-block;
    vertical-align: middle;
    /* line-height: normal; */
    /* padding: 0 25px; */
}

.aff-link {
    /* text-decoration: overline; */
    font-weight: 500;
}

.over-bg {
    background: rgba(53, 53, 53, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
    border-radius: 10px;
}

.bold-btn {

    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 50px 5px 50px;
}

.box .btn {
    font-size: 1.5rem;
}

@media (max-width: 1025px) {
    .btn {
        padding: 5px 40px 5px 40px;
    }
}

@media (max-width: 250px) {
    .btn {
        padding: 5px 30px 5px 30px;
    }
}

/* START BUTTON */
.btn-warning {
    background: var(--btnbg);
    color: var(--btnfontcolor);
    fill: #ffffff;
    border: none;
    text-decoration: none;
    outline: 0;
    /* box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25); */
    border-radius: 100px;
}

.btn-warning:hover {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

.btn-check:focus+.btn-warning,
.btn-warning:focus {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

.btn-warning:active:focus {
    box-shadow: 0 0 0 0.25rem var(--btnactivefs);
}

.btn-warning:active {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

/* END BUTTON */

.bg-success {
    font-size: 1rem;
    background-color: var(--btnbg) !important;
    color: var(--btnfontcolor) !important;
}

.bg-danger {
    font-size: 1rem;
}


.price-hp {
    font-size: 1rem;
    font-weight: 600;
    color: darkgray;
}

.price{
    text-align: center;
    font-weight: 600 !important;
    margin-left: .2em;
}

.amz-hp {
    font-size: .7rem;
    font-weight: 600;
    color: darkgray;
}

.fa-question-circle:before {
    /* content: "\f059"; */
    color: darkgray;
}

.fa-heart:before {
    color: crimson;
}

.fa-chevron-circle-right:before {
    color: darkgray;
}



.card-ecommerce .card-img-top {
    width: 100%;
    padding: 95px 45px 40px;
    max-width: 100%;
    height: auto;
}

.card-ecommerce {
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    padding: 0 0 1rem 0;
}

.card-ecommerce:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    border: 2px solid var(--preto);
    border-radius: 10px;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    z-index: -1;
}

.card-ecommerce:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.card-body-cascade a {
    color: #0f4a79;
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
    margin-left: .2em;
    overflow: hidden;
}

.card-body-cascade {
    padding: 1rem 2rem;
}

.card-body-cascade .price {
    color: #059;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    margin: .6%;
}

.card-ecommerce .btn {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    display: block;
    width: 100%;
    border-radius: 0;
}

.card-ecommerce .add-to-card {
    color: #fff;
    border: 1px solid #059;
    background-color: #059;
    text-transform: uppercase;
    padding: 14px 10px;
    border-radius: 6px;
    font-weight: bold;
    width: 119% !important;
}

.card-ecommerce .view-btn {
    color: #059;
    border: 2px solid #059;
    text-transform: uppercase;
    padding: 13px 10px;
    border-radius: 6px;
    font-weight: bold;
    margin: 0px 7px;
}

.stock-details {
    font-size: 12px;
    color: #9e9e9e;
    text-transform: uppercase;
    margin-left: 0.8rem;
}

a {
    text-decoration: none;
}