@charset "UTF-8";

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Style  */

:root {
    --preto: #141615;
    --amarelo: #F8A928;
    --amarelo-claro: #f1af45;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: var(--amarelo);
    transition: 0.3s;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--amarelo-claro);
}

::-webkit-scrollbar-thumb:focus {
    border-radius: 20px;
}

/* General Style End  */


/* Header Style */

.container_header {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 1% 5%;
}

header {
    width: 100%;
    height: 16vh;
    background-color: var(--preto);
}

.menu {
    position: absolute;
    top: 42px;
    left: 20px;
    z-index: 9999;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease-in-out;
    z-index: 9998;
    color: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px;
    position: relative;
    top: 120px;
    cursor: pointer;
    text-align: center;
    transition: .3s;
}

.sidebar ul li:hover {
    background-color: #555;
}

li {
    list-style: none;
}

ul li {
    font-family: "Montserrat", sans-serif;
}

.bi {
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    color: var(--amarelo);
}

.bi-headset,
.bi-heart-fill,
.bi-cart-fill {
    margin: 40px;
    font-size: 30px;
}


.bi-list {
    font-size: 45px;
    color: var(--amarelo);
}

.container {
    position: relative;
    display: inline-block;
}

.logo {
    width: 145px;
    margin-left: 3em;
    position: absolute;
    top: -16px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.09);
    cursor: pointer;
}

.input-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
    width: 450px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
    transition: .3s;
    margin-left: 4em;
    font-family: "Montserrat", sans-serif;
}

.input {
    margin-left: 36%;
}

.input-search:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: .3s;
}

.newlogo {
    position: absolute;
    top: 16px;
    right: -214px;
    margin: 5px;
    width: 45px;
    height: auto;
}

/* Header Style End */


.downHeader {
    background-color: var(--amarelo);
    width: 100%;
    height: 3.4vh;
    display: flex;
    justify-content: center;
}

.nav .ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.nav .ul li {
    padding: 6px 25px;
    position: relative;
    transition: .3s ease;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav .ul li:hover {
    background-color: #a36500;
    cursor: pointer;
}

.nav a {
    text-decoration: none;
    color: #141615;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    list-style: none;
    padding: 0;
    text-align: center;
    min-width: 150px;
    border-radius: 15px;
    width: 100%;
}

.dropdown li {
    text-align: left;
}

.dropdown li:hover {
    background-color: #a1a0a0 !important;
}

.dropdown-toggle {
    cursor: pointer;
}

.arrow {
    margin-left: 5px;
}

.open {
    display: block;
}

/* Estilo para submenu */
.submenu {
    display: none;
    position: absolute;
    top: 10px;
    left: 100%;
    margin-top: -10px;
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    list-style: none;
    padding: 0;
    text-align: center;
    min-width: 150px;
    border-radius: 15px;
    width: 100%;
}

.has-submenu:hover .submenu {
    display: block;
}

/* Estilo para seta do submenu */
.submenu-arrow {
    margin-left: 5px;
    font-size: 0.8em;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 100px;
    top: 15px;
}

.login i {
    font-size: 30px;
    margin: 10px;
}

.login a {
    text-decoration: none;
    color: #fff;
}

.login p {
    font-family: "Montserrat", sans-serif;
}

/* Main Style */

main {
    background-color: #FFFFF0;
    height: 100vh;
}